.viewport3D {
    height: auto;
    width: auto;

    padding: 1em 1em;
    padding-bottom: 5em;
    border-radius: 1em;

    background-color: white;
        
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 1em;
} 

.viewport {
    height: 20em;
    width: 20em;
    border-radius:1em;
    box-shadow: inset .2em .2em 2em .1em rgb(158, 151, 151);
    margin: 1em;
} 
