.card-design {
    height: auto;
    width: auto;

    padding: .2em .2em;

    background-color: #292c37;

    color: #cccccc;

    border-radius: .5em;
    border: .1em solid grey;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

.card-login,
.card-register {

    height: 30em;
    width: 25em;

    position: absolute;

    top: 15em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.closeCard {
    height: 10%;
    width: 23em;

    display: flex;
    justify-content: end;
    align-items: center;
}

.login-inputs,
.register-inputs {
    max-height: 70%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-info,
.login-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-button,
.register-button {
    height: 10%;
    width: 95%;

    margin-bottom: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeUploads-Card {

    border-radius: 0em;
    border-bottom: 0em;
    border-top: 0em;

    background-color: #cccccc;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.homeViewport-Card {
    margin: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.homeViewport-Card .info {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.homeViewport-Card .info .icons-info {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    height: auto;
    width: auto;

    padding: .2em .2em;
}

.homeViewport-Card .author {
    height: 5em;
    width: 90%;

    border-radius: .5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.homeViewport-Card .author-avatar {
    height: 4em;
    width: 4em;

    border-radius: 100%;
    border: .1em solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.homeViewport-Card .author-avatar img {
    border-radius: 100%;
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.user-card,
.uploads-card,
.posts-card {
    min-height: 80vh;

    background-color: #cccccc;
}

.user-card,
.posts-card {
    width: 19vw;
}

.userInfo-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profileAvatar {
    height: 5em;
    width: 5em;

    margin: 1em;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileAvatar img {
    border-radius: 100%;
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.uploads-card {
    width: 59vw;
}