.card-design {
    height: auto;
    width: auto;

    padding: 5em 1em;

    background-color: aquamarine;

    border-radius: .5em;
    border: .1em solid grey;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

.card-login,
.card-register {
    height: 30em;
    width: 25em;

    position: absolute;
    top: 15em
}

.register-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}