.button-design {
    height: auto;
    width: auto;
    padding: .5em 1em;

    background-color: #cccccc;

    border-radius: .5em;
    border: .1em solid grey;

    &:hover {
        background-color: #cccccc;

        color: #292c37;
    }

    &:active {
        transform: translateY(.2em)
    }
}

.hidden{
    display: none;
}

.register-disabled,
.loggin-disabled,
.upload-disabled,
.update-disabled {
    height: auto;
    width: 8em;

    background-color: grey;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1em;

    &:hover {
        background-color: grey;
    }

    &:active {
        transform: translateY(0em)
    }
}

.button-loggin,
.button-register,
.button-profile,
.button-upload,
.button-logout,
.button-upload,
.button-update,
.button-delete {
    height: auto;
    width: 8em;
    background-color: #292c37;

    color: #cccccc;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1em;
}

.button-delete-yes{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 4.1em;

    border-top-right-radius:0em ;
    border-bottom-right-radius:0em ;
    border-right: .1em solid #cccccc70;

    background-color:#292c37;
    color: #cccccc;
}

.button-delete-no{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 4.1em;

    border-top-left-radius:0em ;
    border-bottom-left-radius:0em ;
    border-left:.1em solid  #cccccc70;

    background-color:#292c37;
    color: #cccccc;
}

.lucide-button {
    height: 10em;
    width: 10em;

    background-color: #cccccc;

    &:active {
        transform: translateY(.2em)
    }
}