.button-design {
    height: auto;
    width: auto;
    padding: .5em 1em;

    background-color: aliceblue;

    border-radius: .5em;
    border: .1em solid grey;

    &:hover {
        background-color: rgb(181, 191, 201);
    }

    &:active {
        transform: translateY(.2em)
    }
}

.register-disabled,
.loggin-disabled {
    height: 2em;
    width: 5em;

    background-color: grey;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1em;

    &:hover {
        background-color: grey;
    }

    &:active {
        transform: translateY(0em)
    }
}

.button-loggin,
.button-register,
.button-profile,
.button-upload {
    height: 2em;
    width: 5em;
    background-color: aqua;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1em;
}

.lucide-button{
    height: 10em;
    width: 10em;

    background-color: aliceblue;

    &:active {
        transform: translateY(.2em)
    }
}