.button-design{
    height: auto;
    width: auto;
    padding: .5em 1em;

    background-color: aliceblue;

    border-radius: .5em;
    border: .1em solid grey;

    &:hover{
        background-color: rgb(181, 191, 201);
    }
    &:active{
        transform: translateY(.2em)
    }
}