.superadmin-design {
    height: auto;
    min-height: 80vh;
    width: 100vw;

    background-color: rgb(206, 206, 206);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

table {

    width: 90%;
    border-collapse: collapse;
    margin-top: .5em;
    margin-bottom: 2em;

}

th,
td {
    border: .1em solid #292c37;
    padding: .5em;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    color: #292c37;

    &:hover {
        background-color: #292c37;
        color: #cccccc;
    }
}

tr:nth-child(odd) {
    background-color: #cccccc;
    color: #292c37;

    &:hover {
        background-color: #292c3771;
        color: #cccccc;
    }
}

tr:nth-child(even) {
    background-color: #292c37;
    color: #cccccc;

    &:hover {
        background-color: #888888;
        color: #292c37;
    }
}