#text-design {
    font-family: roboto;
    min-height: 1.5em;
}

.hidden {
    display: none;
}

.text-title {
    color: rgb(99, 97, 97);
    font-size: 2em;
}

.text-iconsInfo {
    height: 1em;
    width: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-userInfo {
    height: 2em;
    width: 90%;

    margin: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text-infoTitle {
    height: 2em;
    width: 80%;

    display: flex;
    justify-content: start;
    align-items: center;

    font-size: 1.2em;

    border-bottom: .1em solid #cccccc;
}

.text-infoTitle-top {
    height: 2em;
    width: 100%;

    display: flex;
    justify-content: start;
    align-items: center;

    font-size: 1.6em;

    border-bottom: .1em solid #cccccc;
}

.text-infoTitle-inputs {
    height: 2em;
    width: 15em;

    display: flex;
    justify-content: start;
    align-items: center;

    font-size: 1.3em;

    border-bottom: .1em solid #cccccc;
}

.text-comment {
    display: flex;
    justify-content: center;
    align-items: start;

    margin: 1em;

}

.text-comments-author {
    text-align: left;
    float: left;
    width: 95%;

    font-weight: 700;

    border-bottom: .1em solid #292c371a;
}

.text-comments-message {
    text-align: right;
    float: right;
    width: 90%;

    margin-bottom: .5em
}

.text-comments-author-inverse {
    text-align: right;
    float: right;
    width: 95%;

    font-weight: 700;

    border-bottom: .1em solid #292c371a;
}

.text-comments-message-inverse {
    text-align: left;
    float: left;
    width: 90%;

    margin-bottom: .5em;
    padding-left: .6em;
}

.text-subtitle {
    height: auto;
    width: 100%;

    margin: .3em;
    display: flex;
    justify-content: start;
    align-items: center;
}

.text-area {
    height: 30em;
}