.header-design {
    height: 10vh;
    width: 100vw;

    background-color: aquamarine;

    display: flex;
    justify-content: center;
    align-items: center;
}

.separator-header {
    width: 80%;
}

.icon-closeCard:active {
    transform: translateY(.1em);
}

.welcome-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.uploadPhotoInput {
    height: 13.4em;
    width: 13.4em;

    border-radius: .5em;

    padding: 1em 1em;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadPhotoInput img{
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.fileInputHidden {
    display: none;
}