.footer-design {
    height: 10vh;
    width: 100vw;

    background-color: rgb(235, 235, 235);
    border-top: .1em solid black;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-design img {
    height: 3em;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
}