.footer-design{
    height: 10vh;
    width: 100vw;

    background-color: rgb(235, 235, 235);
    border-top: .1em solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}